@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap");
body, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, label {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: "DM sans", serif, -apple-system, sans-serif;
  font-weight: 500;
  color: inherit;
  outline: 0;
  letter-spacing: -0.03em;
}

body * {
  box-sizing: border-box;
}

a {
  color: inherit;
}
a:hover, a:focus, a:active {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

address, em {
  font-style: normal;
}

table {
  width: 100%;
}

textarea {
  resize: none;
  font-size: 1rem;
  outline: 0;
}

u {
  text-decoration-thickness: 1px;
  text-underline-position: under;
}

img {
  vertical-align: top;
  max-width: 100%;
}

button {
  cursor: pointer;
  outline: 0 !important;
  border: 0;
}

b, strong {
  font-weight: 700;
}

p {
  letter-spacing: normal;
}

.g-0 {
  margin-left: -15px;
  margin-right: -15px;
}

.btn-ghost, .btn-outlined, .btn-primary {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  border-radius: 100px;
}

.btn-primary {
  color: #fff;
  background-color: #25dac5;
  border: none;
}
.btn-primary:hover {
  background-color: #1e0e62;
  transition: background-color 300ms ease-in-out;
}

.btn-outlined {
  color: #1e0e62;
  background-color: #fff;
  border: 2px solid #ebeaed;
}
.btn-outlined:hover {
  background-color: #ebeaed;
  transition: background-color 300ms ease-in-out;
}

.btn-ghost {
  color: #fff;
  background-color: transparent;
  border: 2px solid #ebeaed;
}

.btn-40 {
  padding: 0 20px;
  height: 40px;
  font-size: 16px;
  line-height: 22px;
}

.btn-50 {
  padding: 0 22px;
  height: 50px;
  font-size: 18px;
  line-height: 26px;
}

.btn-60 {
  padding: 0 29px;
  height: 60px;
  font-size: 20px;
  line-height: 26px;
}

.form-control {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: #fff;
  font-weight: 600;
  border: 2px solid #ebeaed;
  border-radius: 100px;
}
.form-control::-moz-placeholder {
  color: rgba(21, 20, 57, 0.4);
  font-weight: 500;
}
.form-control::placeholder {
  color: rgba(21, 20, 57, 0.4);
  font-weight: 500;
}
.form-control.form-sm {
  height: 40px;
  padding: 0 18px;
}
.form-control.form-md {
  height: 50px;
  padding: 0 24px;
}
.form-control.form-lg {
  height: 60px;
  padding: 0 24px;
}

.form-radio, .form-check {
  cursor: pointer;
  display: block;
  font-size: 16px;
  line-height: 26px;
  padding-left: 0;
}

.form-radio-label, .form-check-label {
  display: inline-block;
  vertical-align: top;
  padding-left: 38px;
}

.form-control.message {
  height: 170px;
  border-radius: 10px;
  padding: 0 24px;
}
.form-control.message::-moz-placeholder {
  position: absolute;
  top: 13px;
}
.form-control.message::placeholder {
  position: absolute;
  top: 13px;
}

.form-check-label {
  width: 100%;
  background: url(../img/icon/check_none.svg) no-repeat 0 0.3rem/20px 20px;
}
input:checked + .form-check-label {
  background-image: url(../img/icon/Check-on.svg);
}

.form-radio-label {
  width: 100%;
  background: url(../img/icon/radio_off.svg) no-repeat 0 0.3rem/20px 20px;
}
input:checked + .form-radio-label {
  background-image: url(../img/icon/radio_on.svg);
}

.acc-color {
  display: inline-flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 5px;
}
.acc-color-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
.acc-color-label.blue {
  background: #4267b2;
}
.acc-color-label.purple {
  background: #482be7;
}
.acc-color-label.pink {
  background: #e93a7d;
}
.acc-color-label.ylw {
  background: #fffc00;
}
.acc-color-label.navy {
  background: #1e0e62;
}
.acc-color-label.grn {
  background: #27ae60;
}
.acc-color-label.red {
  background: #C8232C;
}
.acc-color-label.red2 {
  background: #EA3223;
}
.acc-color-label.skyblue {
  background: #1DA1F2;
}
.acc-color .form-color:has(input[type=radio]) {
  position: relative;
  width: 20px;
  height: 20px;
}
.acc-color .form-color:has(input:checked):before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 7px;
  background: url(../img/icon/color-check.svg) no-repeat;
}

.check-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.check-toggle:has(input:checked) ~ .monthly {
  display: none;
}
.check-toggle:has(input:checked) ~ .yearly {
  display: block;
}
.check-toggle:not(:has(input:checked)) ~ .yearly {
  display: none;
}
.check-toggle:not(:has(input:checked)) ~ .monthly {
  display: block;
}
.check-toggle-input {
  cursor: pointer;
  font-size: 16px;
  line-height: 26px;
  color: #1e0e62;
}
.check-toggle-label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 190px;
  height: 30px;
  background: url(../img/icon/switch-off.svg) no-repeat center/42px 30px;
}
input:checked + .check-toggle-label {
  background: url(../img/icon/switch-on.svg) no-repeat center/42px 30px;
}
.check-toggle-label .text-paragraph {
  width: 60px;
  display: inline-block;
}
.check-toggle-label .text-paragraph:last-child {
  text-align: left;
}

.form-select {
  display: inline-block;
  background: url(../img/icon/btn-down.svg) no-repeat center right/11px 26px;
  border: none;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  width: auto;
  padding-right: 16px;
  color: #1e0e62;
  font-weight: 600;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.badge-price {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 67px;
  height: 30px;
  background-color: #ebeaed;
  border-radius: 100px;
  font-size: 16px;
  line-height: 22px;
  color: rgba(21, 20, 57, 0.4);
  font-weight: 500;
}

.form-14 .row, .form-13 .label-choice label {
  border: 2px solid #ebeaed;
  border-radius: 10px;
}

.item-color-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 152px;
  height: 40px;
  gap: 5px;
  padding: 0 11px;
  border: 2px solid #ebeaed;
  border-radius: 100px;
  margin-top: 2px;
}
.item-color-wrap button {
  position: relative;
  display: inline-block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  border: none;
}
.item-color-wrap .gray {
  background-color: rgba(21, 20, 57, 0.4);
}
.item-color-wrap .blue {
  background-color: #4267B2;
}
.item-color-wrap .org {
  background-color: #F2994A;
}
.item-color-wrap .red {
  background-color: #EB5757;
}
.item-color-wrap .grn {
  background-color: #219653;
}
.item-color-wrap .active:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 7px;
  background: url(../img/icon/color-check.svg) no-repeat;
  background-size: cover;
}

.size-wrap {
  width: 288px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border: 2px solid #ebeaed;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 2px;
}

.btn-size {
  width: 100%;
  border-radius: 0;
  border: none;
  background-color: #fff;
  font-size: 16px;
  line-height: 22px;
  color: rgba(21, 20, 57, 0.4);
}

.btn-size:not(:last-child) {
  border-right: 2px solid #ebeaed;
}

.btn-size.active {
  background-color: #1e0e62;
  color: #fff;
}

.quantity-wrap {
  width: 118px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 2px solid #ebeaed;
  border-radius: 100px;
  overflow: hidden;
  margin-top: 2px;
}
.quantity-wrap .btn-quantity {
  width: 100%;
  border: none;
  background-color: #fff;
  font-size: 16px;
  line-height: 22px;
}
.quantity-wrap .quantity-value {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-left: 2px solid #ebeaed;
  border-right: 2px solid #ebeaed;
  font-size: 16px;
  line-height: 22px;
  color: #1e0e62;
}

.btn-remove {
  position: absolute;
  right: 5px;
  top: 47px;
  width: 16px;
  height: 16px;
  border: none;
  background: url(../img/icon/remove.svg) no-repeat center/cover;
}

.step-circle {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #ebeaed;
  font-size: 18px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  flex-shrink: 0;
}

#ct {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1230px;
  padding: 0 30px;
}

section {
  width: 100%;
  padding: 100px 0;
}
@media (max-width: 991.9px) {
  section {
    padding: 50px 0;
  }
}
@media (max-width: 767.9px) {
  section {
    padding: 50px 0;
  }
}

.form-13 .main-title, .form-1 .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #1e0e62;
  text-align: center;
  margin-bottom: 45px;
}

/* form-1 */
.form-1 section {
  background: url(../img/bg/bg-form1.png) no-repeat center/cover;
}
.form-1 .container {
  background-color: #fff;
  max-width: 430px;
  border-radius: 10px;
  padding: 38px 50px 29px;
}
.form-1 .form-row {
  margin: 0;
  gap: 20px;
}
.form-1 .form-check {
  margin: 42px 0 24px;
}
.form-1 .form-check-label {
  color: rgba(21, 20, 57, 0.4);
}
.form-1 button {
  width: 100%;
  margin-bottom: 50px;
}
.form-1 .form-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
}
.form-1 .form-footer p {
  color: rgba(21, 20, 57, 0.4);
  margin-right: 9px;
}
.form-1 .form-footer a {
  color: #25dac5;
}

/* form-13 */
.form-13 form {
  max-width: 1030px;
}
.form-13 .label-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
}
.form-13 .label-choice label {
  position: relative;
  width: 100%;
  padding: 45px 64px;
}
.form-13 .label-choice label:has(input:checked) {
  border-color: #25dac5;
}
.form-13 .label-choice label .text-article {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #1e0e62;
}
.form-13 .label-choice label .text-paragraph {
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  margin: 7px 0 30px;
}
.form-13 .label-choice label .text-label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #1e0e62;
  margin-bottom: 7px;
}
.form-13 .label-choice label .row {
  row-gap: 34px;
}
.form-13 .label-choice label .button-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.form-13 .label-choice label .button-wrapper input {
  width: 30%;
}
.form-13 .label-choice label .button-wrapper button {
  width: 140px;
}
.form-13 .card-wrap {
  position: absolute;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  right: 30px;
  top: 26px;
  gap: 19px;
  z-index: -1;
}
.form-13 .card {
  width: 54px;
  height: 42px;
  border: none;
}
.form-13 .card-01 {
  background: url(../img/form_13/01.png) no-repeat;
  background-size: 100%;
}
.form-13 .card-02 {
  background: url(../img/form_13/02.png) no-repeat;
  background-size: 100%;
}
.form-13 .card-03 {
  background: url(../img/form_13/03.png) no-repeat;
  background-size: 100%;
}
.form-13 .card-04 {
  background: url(../img/form_13/04.png) no-repeat;
  background-size: 100%;
}

/* form-14 */
.form-14 form {
  max-width: 830px;
}
.form-14 .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #1e0e62;
  text-align: center;
  margin-bottom: 58px;
}
.form-14 .row {
  padding: 86px 100px;
  row-gap: 34px;
}
@media (max-width: 767.9px) {
  .form-14 .row {
    margin: 0;
    padding: 30px;
  }
}
.form-14 .text-label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #1e0e62;
  margin-bottom: 7px;
}
.form-14 .form-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.form-14 .form-footer .card-info {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 23px;
}
.form-14 .form-footer .card-info .text-paragraph {
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
}
.form-14 .form-footer button {
  width: 120px;
  font-weight: 600;
}

/* form-15 */
.form-15 section {
  background: #2F1893 url(../img/bg/bg-form15.png) no-repeat center/cover;
}
.form-15 .container {
  width: 100%;
  max-width: 630px;
}
.form-15 .container .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin-bottom: 60px;
}
@media (max-width: 991.9px) {
  .form-15 .container .main-title {
    margin-bottom: 30px;
  }
}
.form-15 .bx {
  background-color: #fff;
  border: none;
  border-radius: 10px;
  overflow: hidden;
}
.form-15 .bx .row {
  padding: 54px 70px 70px;
  row-gap: 23px;
}
@media (max-width: 991.9px) {
  .form-15 .bx .row {
    padding: 30px 50px;
  }
}
.form-15 .bx .row .text-label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #1e0e62;
  margin-bottom: 7px;
  font-weight: 600;
}
.form-15 .bx .row button {
  width: 100%;
  margin-top: 23px;
}
.form-15 .nav {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form-15 .nav-link {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: rgba(21, 20, 57, 0.4);
  text-align: center;
  width: 50%;
  padding: 25px 0;
  background-color: #fff;
  border-bottom: 2px solid #ebeaed;
  font-weight: 700;
}
.form-15 .nav-link.active {
  background: transparent;
  color: #1e0e62;
  border-color: #1e0e62;
}

.contact-7 .bg {
  position: relative;
}
.contact-7 .bg img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100vw;
  height: 300px;
}
.contact-7 .bg:before {
  content: "";
  position: absolute;
  left: calc(50% + 9vh);
  top: 28%;
  width: 29px;
  height: 40px;
  background: url(../img/icon/map-marker.svg) no-repeat center/100% 100%;
}
.contact-7 form {
  max-width: 1030px;
  margin-top: 60px;
}
.contact-7 form .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #1e0e62;
  margin-bottom: 25px;
}
.contact-7 form .sub-title {
  font-size: 22px;
  line-height: 32px;
  color: #1e0e62;
}
.contact-7 form .text-paragraph {
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
}
.contact-7 form .text-label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #1e0e62;
  margin: 30px 0 6px;
  font-weight: 600;
}
.contact-7 form .text-article {
  color: #1e0e62;
  font-weight: 600;
}
.contact-7 form .form-footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0;
}
.contact-7 form .form-footer-input {
  width: 100%;
}
.contact-7 form .form-footer-button {
  margin-left: 10px;
  width: 90px;
}
.contact-7 form .grid {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 130px;
}
.contact-7 form .grid-left {
  flex: 1;
  max-width: 370px;
}
.contact-7 form .grid-right {
  flex: 1;
  max-width: 470px;
}
@media (max-width: 767.9px) {
  .contact-7 form .grid {
    flex-direction: column;
    gap: 60px;
  }
  .contact-7 form .grid-left {
    width: 100%;
    max-width: none !important;
  }
  .contact-7 form .grid-right {
    width: 100%;
    max-width: none !important;
  }
}
.contact-7 .contact-info {
  gap: 12px;
  padding: 39px 0 48.3px;
  border-bottom: 1px solid rgba(105, 32, 32, 0.1);
}
.contact-7 .contact-info .text-article {
  display: block;
  padding-left: 32.5px;
}
.contact-7 .contact-info .text-article:first-child {
  background: url(../img/icon/phone.svg) no-repeat center left/15px 15px;
  margin-bottom: 12px;
}
.contact-7 .contact-info .text-article:last-child {
  background: url(../img/icon/msg.svg) no-repeat center left/18px 18px;
}
.contact-7 .contact-sns {
  padding-top: 42.7px;
}
.contact-7 .contact-sns-list {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 14px;
  margin-top: 20px;
}
.contact-7 .contact-sns-list > li {
  width: 50%;
  max-width: 200px;
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  padding-left: 32px;
}
.contact-7 .contact-sns-list .facebook {
  background: url(../img/icon/facebook.svg) no-repeat left center/16px 16px;
}
.contact-7 .contact-sns-list .dribble {
  background: url(../img/icon/dribble.svg) no-repeat left center/16px 16px;
}
.contact-7 .contact-sns-list .twitter {
  background: url(../img/icon/Twitter.svg) no-repeat left center/17px 17px;
}
.contact-7 .contact-sns-list .behance {
  background: url(../img/icon/behance.svg) no-repeat left center/21px 21px;
}
.contact-7 .contact-sns-list .pinterest {
  background: url(../img/icon/pinterest.svg) no-repeat left center/16px 16px;
}
.contact-7 .contact-sns-list .linkedin {
  background: url(../img/icon/linkedIn.svg) no-repeat left center/16px 16px;
}

/* ecommerce-7 */
.ecommerce-7 .text-label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: rgba(21, 20, 57, 0.4);
  text-align: center;
}
.ecommerce-7 .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #1e0e62;
  text-align: center;
  margin: 10px 0 74px;
}
.ecommerce-7 .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 33px;
  margin-bottom: 23px;
  overflow: auto;
}
@media (max-width: 991.9px) {
  .ecommerce-7 .nav {
    flex-wrap: nowrap;
    gap: 0;
  }
}
.ecommerce-7 .nav-link {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #1e0e62;
  font-weight: 600;
  text-wrap: nowrap;
  background-color: transparent;
  border-radius: 0;
}
.ecommerce-7 .nav-link.active {
  background-color: transparent;
  color: rgba(21, 20, 57, 0.4);
  border-bottom: 2px solid #ebeaed;
}
.ecommerce-7 .row {
  row-gap: 70px;
}
.ecommerce-7 .acc-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 20px 0 10px;
}
.ecommerce-7 .acc-info .acc-name {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #1e0e62;
}

/* ecommerce-18 */
.ecommerce-18 .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #1e0e62;
  margin-bottom: 40px;
}
.ecommerce-18 .nav-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
}
@media (max-width: 991.9px) {
  .ecommerce-18 .nav-wrap {
    flex-wrap: nowrap;
  }
}
.ecommerce-18 .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 26px;
}
.ecommerce-18 .nav-link {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: rgba(21, 20, 57, 0.4);
  font-weight: 700;
  background-color: transparent;
  border-radius: 0;
}
.ecommerce-18 .nav-link.active {
  background-color: transparent;
  color: #1e0e62;
}
@media (max-width: 991.9px) {
  .ecommerce-18 .nav {
    flex-wrap: nowrap;
    text-wrap: nowrap;
    overflow: auto;
    gap: 0;
  }
}
.ecommerce-18 .select-wrap .text-label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: rgba(21, 20, 57, 0.4);
}
@media (max-width: 991.9px) {
  .ecommerce-18 .select-wrap {
    display: none;
  }
}
.ecommerce-18 .tab-pane ul {
  row-gap: 60px;
}
.ecommerce-18 .stuff {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
  height: 100%;
}
@media (max-width: 1142px) {
  .ecommerce-18 .stuff {
    flex-direction: column;
    gap: 20px;
  }
  .ecommerce-18 .stuff-img {
    max-width: none !important;
  }
  .ecommerce-18 .stuff-info {
    width: 100%;
    min-height: 180px;
  }
  .ecommerce-18 .stuff-info .buttons {
    margin-left: auto;
  }
}
.ecommerce-18 .stuff-img {
  max-width: 270px;
}
.ecommerce-18 .stuff-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ecommerce-18 .stuff-img img:hover {
  transform: scale(1.03);
  transition: all 400ms ease-in-out;
}
.ecommerce-18 .stuff-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
}
.ecommerce-18 .stuff-info .sub-title {
  font-size: 22px;
  line-height: 32px;
  color: #1e0e62;
  font-weight: 700;
}
.ecommerce-18 .stuff-info .text-label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: rgba(21, 20, 57, 0.4);
  margin-top: 1px;
}
.ecommerce-18 .stuff-info .text-paragraph {
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  margin-top: 6px;
}
.ecommerce-18 .stuff-info .buttons .btn-outlined {
  width: 110px;
  border-color: #482BE7;
  color: #482BE7;
}
.ecommerce-18 .stuff-info .buttons .btn-outlined:hover {
  background-color: #482BE7;
  color: #fff;
  transition: all 400ms ease-in-out;
}
.ecommerce-18 .stuff-info .buttons .btn-style-none {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0 11px;
  border: 2px solid transparent;
  border-radius: 100px;
  color: #482BE7;
}
.ecommerce-18 .stuff-info .buttons .btn-style-none:hover {
  border-color: #482BE7;
  transition: border-color 400ms ease-in-out;
}

/* ecommerce-33 */
.ecommerce-33 .cart-header, .ecommerce-33 .cart-footer {
  width: 100%;
  display: flex;
  padding-bottom: 19px;
  border-bottom: 2px solid #ebeaed;
}
@media (max-width: 991.9px) {
  .ecommerce-33 .cart-header {
    display: none;
  }
}
.ecommerce-33 .cart-footer {
  padding-top: 20px;
  border: none;
}
.ecommerce-33 .cart-footer .form-control {
  width: 140px;
  font-size: 16px;
  line-height: 22px;
  color: #1e0e62;
  font-weight: 600;
  padding: 0 18px;
}
.ecommerce-33 .cart-footer .cost {
  color: #1e0e62;
  font-weight: 700;
}
@media (max-width: 767.9px) {
  .ecommerce-33 .cart-footer div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .ecommerce-33 .cart-footer div .form-control {
    width: 100%;
  }
  .ecommerce-33 .cart-footer div .cost {
    margin-top: 7px;
  }
}
.ecommerce-33 .cart-item {
  flex: 1;
  max-width: 570px;
  margin-right: 30px;
}
.ecommerce-33 .cart-opt {
  flex: 1;
  max-width: 370px;
  margin-right: 30px;
}
.ecommerce-33 .cart-cost {
  flex: 1;
  max-width: 170px;
}
.ecommerce-33 .cart-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 991.9px) {
  .ecommerce-33 .cart-list {
    flex-wrap: wrap;
  }
  .ecommerce-33 .cart-list-item {
    display: grid !important;
    grid-template-areas: "item1 item2" "item1 item3";
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
}
@media (max-width: 991.9px) and (max-width: 767.9px) {
  .ecommerce-33 .cart-list-item {
    grid-template-areas: "item1" "item2" "item3";
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
}
.ecommerce-33 .cart-list-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding: 36px 0;
  border-bottom: 2px solid #ebeaed;
}
.ecommerce-33 .cart-list-item .cart-item {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;
}
@media (max-width: 991.9px) {
  .ecommerce-33 .cart-list-item .cart-item {
    flex-direction: column;
    grid-area: item1;
    max-width: none;
    margin-right: 0;
  }
}
.ecommerce-33 .cart-list-item .cart-item .item-img {
  flex: 1;
  max-width: 200px;
  height: 200px;
  border-radius: 10px;
  overflow: hidden;
}
@media (max-width: 991.9px) {
  .ecommerce-33 .cart-list-item .cart-item .item-img {
    width: 100%;
    max-width: none;
    max-height: 180px;
  }
}
.ecommerce-33 .cart-list-item .cart-item .item-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.ecommerce-33 .cart-list-item .cart-item .item-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 200px;
}
.ecommerce-33 .cart-list-item .cart-item .item-color {
  margin-top: auto;
}
@media (max-width: 991.9px) {
  .ecommerce-33 .cart-list-item .cart-item .item-color {
    margin-top: 30px;
  }
}
.ecommerce-33 .cart-list-item .cart-opt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 200px;
}
@media (max-width: 991.9px) {
  .ecommerce-33 .cart-list-item .cart-opt {
    grid-area: item2;
    max-width: none;
    margin-right: 0;
    height: 180px;
  }
  .ecommerce-33 .cart-list-item .cart-opt .quantity {
    margin-top: 30px;
  }
}
.ecommerce-33 .cart-list-item .cart-opt .quantity {
  margin-top: auto;
}
@media (max-width: 991.9px) {
  .ecommerce-33 .cart-list-item .cart-opt .quantity {
    margin-top: 30px;
  }
}
.ecommerce-33 .cart-list-item .cart-cost {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 200px;
}
@media (max-width: 991.9px) {
  .ecommerce-33 .cart-list-item .cart-cost {
    grid-area: item3;
  }
}
@media (max-width: 767.9px) {
  .ecommerce-33 .cart-list-item .cart-cost {
    height: auto;
    gap: 30px;
  }
}
.ecommerce-33 .cart-list-item .cart-cost .cost-item p {
  color: #1e0e62;
}
.ecommerce-33 .cart-list-item .cart-cost .cost-item:last-child {
  margin-top: auto;
  height: 68px;
}
@media (max-width: 991.9px) {
  .ecommerce-33 .cart-list-item .cart-cost .cost-item:last-child {
    margin-top: 30px;
  }
}
@media (max-width: 767.9px) {
  .ecommerce-33 .cart-list-item .cart-cost .cost-item:last-child {
    flex-direction: row;
    margin-top: 0;
  }
}
.ecommerce-33 .text-label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: rgba(21, 20, 57, 0.4);
  font-weight: 700;
}
.ecommerce-33 .text-article {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #1e0e62;
}
.ecommerce-33 .item-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
@media (max-width: 991.9px) {
  .ecommerce-33 .btn-remove {
    top: 36px;
  }
}
@media (max-width: 767.9px) {
  .ecommerce-33 .btn-remove {
    top: 246px;
  }
}

.content-20 .step-info, .content-20 .step-1, .content-20 .step-2, .content-20 .step-3 {
  display: flex;
  gap: 30px;
}

.content-20 .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #1e0e62;
  margin-bottom: 30px;
}
.content-20 .text-article {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #1e0e62;
  font-weight: 700;
  margin-top: 10px;
}
.content-20 .text-paragraph {
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  margin-bottom: 20px;
}
.content-20 .step-1 {
  margin-bottom: 54px;
  height: 136px;
}
.content-20 .step-1 .step-circle:before {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 100%;
  width: 2px;
  height: 557px;
  background-color: #ebeaed;
}
.content-20 .step-2 {
  margin-bottom: 60px;
  height: 318px;
}
.content-20 .step-3 {
  height: 179px;
}
.content-20 .step-3 .btn-primary {
  width: 160px;
  margin-top: 19px;
}
.content-20 .step-info {
  padding: 64px 0 60px;
}
.content-20 .step-img {
  position: relative;
}
.content-20 .step-img:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: url(../img/icon/play-white.svg) no-repeat center/cover;
  z-index: 1;
  cursor: pointer;
}
.content-20 .step-info .step-img img {
  display: inline-block;
  position: relative;
}

@media (max-width: 692px) {
  .content-20 .step-1,
  .content-20 .step-2,
  .content-20 .step-3 {
    height: auto;
  }
  .step-1 .step-circle:before {
    height: 660px;
  }
  .step-3 .step-circle:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -660px;
    width: 2px;
    height: 660px;
    background-color: #ebeaed;
    z-index: -1;
  }
  .step-info {
    flex-direction: column;
  }
  .step-img {
    width: 170px;
  }
}
.feature-10 .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #1e0e62;
  margin-bottom: 30px;
}
.feature-10 .sub-title {
  font-size: 22px;
  line-height: 32px;
  color: #1e0e62;
  font-weight: 600;
}
@media (max-width: 991.9px) {
  .feature-10 .sub-title {
    min-height: 64px;
  }
}
.feature-10 .text-paragraph {
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  margin-top: 23px;
}

.feature-heading {
  display: flex;
  gap: 190px;
  padding-bottom: 90px;
  border-bottom: 2px solid #ebeaed;
  align-items: center;
}
@media (max-width: 991.9px) {
  .feature-heading {
    flex-direction: column;
    gap: 0;
  }
}

.heading-text {
  width: 412px;
  padding: 48.8px 0 62.8px;
}

.heading-video {
  position: relative;
}

.heading-video:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70px;
  height: 70px;
  background: url(../img/icon/play.png) no-repeat;
  cursor: pointer;
}

.feature-info {
  display: flex;
  padding-top: 65px;
  gap: 35px;
}

.feature-info-item {
  padding-top: 71px;
  flex-basis: calc(33.3333333333% - 17.5px);
}
.feature-info-item:nth-of-type(1) {
  background: url(../img/icon/feature01.svg) no-repeat top left/37px auto;
}
.feature-info-item:nth-of-type(2) {
  background: url(../img/icon/feature02.svg) no-repeat top left/40px auto;
}
.feature-info-item:nth-of-type(3) {
  background: url(../img/icon/feature03.svg) no-repeat top left/48px auto;
}

@media (max-width: 647px) {
  .feature-info {
    flex-direction: column;
  }
  .feature-info-item {
    padding: 0 0 0 60px;
  }
  .feature-info-item .sub-title {
    min-height: auto;
  }
}
/* testimonial-6 */
.testimonial-6 section {
  background-color: #1e0e62;
}
.testimonial-6 section .container {
  max-width: 1030px;
}
.testimonial-6 section .container .row {
  row-gap: 30px;
}
.testimonial-6 .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #fff;
  margin-bottom: 40px;
}
@media (max-width: 767.9px) {
  .testimonial-6 .main-title {
    text-align: center;
  }
}
.testimonial-6 .text-article {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #fff;
}
.testimonial-6 .text-label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: #fff;
  opacity: 0.3;
  margin-top: 13px;
}

.client {
  display: flex;
  gap: 30px;
  padding: 35px 28px 23px 35px;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 10px;
  height: 100%;
}

.client-img {
  flex-shrink: 0;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  overflow: hidden;
}

.client-text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 179px;
}
@media (max-width: 991.9px) {
  .client-text {
    height: 100%;
  }
}

@media (max-width: 768px) {
  .client {
    flex-basis: 100%;
  }
}
.showcase-1 .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #1e0e62;
  text-align: center;
  margin-bottom: 20px;
}
.showcase-1 .sub-title {
  font-size: 22px;
  line-height: 32px;
  color: rgba(21, 20, 57, 0.4);
  text-align: center;
}
.showcase-1 .row:has(.showcase) {
  row-gap: 70px;
}

.showcase-button-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 55px 0 80px;
}
@media (max-width: 767.9px) {
  .showcase-button-group {
    gap: 15px;
  }
}

.showcase .sub-title {
  font-size: 22px;
  line-height: 32px;
  color: #1e0e62;
  font-weight: 700;
  margin: 20px 0 10px;
}
.showcase .text-paragraph {
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
}

.team-1 .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #1e0e62;
  text-align: center;
  margin-bottom: 20px;
}
.team-1 .sub-title {
  font-size: 22px;
  line-height: 32px;
  color: rgba(21, 20, 57, 0.4);
  text-align: center;
  margin-bottom: 47px;
}
.team-1 .text-label {
  font-size: 14px;
  line-height: 26px;
  letter-spacing: 2px;
  color: rgba(21, 20, 57, 0.4);
  text-align: center;
  font-weight: 600;
}
.team-1 .row:has(.team-box) {
  margin-top: 77px;
}
@media (max-width: 767.9px) {
  .team-1 .row:has(.team-box) {
    row-gap: 30px;
  }
}

.team-box {
  border: 2px solid #ebeaed;
  border-radius: 10px;
}

.team-img {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.team-text {
  padding: 28.8px 0 35px;
}
.team-text .sub-title {
  color: #1e0e62;
  font-weight: 700;
  margin-bottom: 16px;
}

.team-sns {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #ebeaed;
}
.team-sns .btn-sns {
  width: 33.3333333333%;
  height: 60.5px;
}
.team-sns .btn-sns:not(:last-child) {
  border-right: 2px solid #ebeaed;
  border-radius: 0;
}
.team-sns .btn-sns.twitter {
  background: url(../img/icon/twitter-gray.svg) no-repeat center/21px auto;
}
.team-sns .btn-sns.facebook {
  background: url(../img/icon/facebook-gray.svg) no-repeat center/19px auto;
}
.team-sns .btn-sns.dribble {
  background: url(../img/icon/dribble-gray.svg) no-repeat center/19px auto;
}

.pricing-table .container {
  max-width: 830px;
}
.pricing-table .row {
  margin-top: 60px;
}
@media (max-width: 767.9px) {
  .pricing-table .row {
    row-gap: 30px;
  }
}
.pricing-table .main-title {
  font-size: 42px;
  line-height: 52px;
  letter-spacing: -0.4px;
  font-weight: 700;
  color: #1e0e62;
  text-align: center;
  margin-bottom: 16px;
}
.pricing-table .text-paragraph {
  font-size: 16px;
  line-height: 26px;
  color: rgba(21, 20, 57, 0.4);
  text-align: center;
}
.pricing-table .check-toggle-label .text-paragraph {
  color: #1e0e62;
  font-weight: 600;
}

.membership-text {
  padding: 45px 37px 50px 48px;
  border: 2px solid #ebeaed;
  border-top: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.membership-text .text-paragraph {
  text-align: left;
  margin: 22px 0 33px;
}
.membership-text button {
  width: 100%;
}
.membership-text button:hover {
  color: #fff;
  background-color: #e93a7d;
  transition: all 300ms ease-in-out;
}

.membership-cost {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.membership-cost .sub-title {
  font-size: 22px;
  line-height: 32px;
  color: #1e0e62;
  font-weight: 600;
}/*# sourceMappingURL=style.css.map */