.pricing-table{
    .container{
        max-width: 830px;
    }

    .row{
        margin-top: 60px;

        @include max(M){
            row-gap: $gutter;
        }
    }

    .main-title{
        @include text-style(title, $navy, center);
        margin-bottom: 16px;
    }

    .text-paragraph{
        @include text-style(paragraph, $gray, center);
    }

    .check-toggle-label{
        .text-paragraph{
            color: $navy;
            font-weight: 600;
        }
    }
}

.membership-text{ 
    padding: 45px 37px 50px 48px;
    border: 2px solid $border-color;
    border-top: none;
    border-bottom-left-radius: $radius;
    border-bottom-right-radius: $radius;

    .text-paragraph{
        text-align: left;
        margin: 22px 0 33px;
    }

    button{
        width: 100%;

        &:hover{
            color: $white;
            background-color: #e93a7d;
            transition: all 300ms ease-in-out;
        }
    }
}

.membership-cost{
    @include flex(between);

    .sub-title{
        @include text-style(sub, $navy);
        font-weight: 600;
    }
}