// font
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Nanum+Myeongjo&family=Noto+Sans+KR:wght@100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

// reset
body, p, span, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select, label{
	margin: 0;
	padding: 0;
    font-size: 16px;
	font-family: $font-sans;
    font-weight: 500;
	color: inherit;
	outline: 0;
	letter-spacing: -0.03em;
}
body{
	* {
		box-sizing: border-box;
	} 
}
a{
	color: inherit;
	&:hover, &:focus, &:active{ 
		color: inherit;
		text-decoration: none;
	}
}
li{
	list-style: none
}
address, em{
	font-style: normal
}
table{
	width: 100%
}
textarea{
	resize: none;
	font-size: 1rem;
	outline: 0;
}
u{
	text-decoration-thickness: 1px;
	text-underline-position: under;
}

img{
	vertical-align: top;
	max-width: 100%
}
button{
	cursor: pointer;
	outline: 0 !important;
    border: 0;
	
} 

b, strong{
	font-weight: 700;
}

p{
	letter-spacing: normal;
}
// util
.g-0{
    margin-left: -($gutter / 2);
    margin-right: -($gutter / 2);
}